:root{
    /*cambios por la estetica del juego*/
    --verdeOscuro: #0e0a03;
    --verdePrincipal: #CF9435;
    --verdeSecundario: #463212;
}
.heroSectionNV {
  background: url('img/falloutNv.jpg') top center/cover no-repeat;
}
